div.dataTables_wrapper {
  div.dataTables_filter input {
    margin-left: 0;
  }
  div.dataTables_paginate {
    border: 0;
    text-align: right;
    border-radius: 0;
    background: $gray-100;
    ul.pagination {
        margin-bottom: 0px;
        margin-top: 0.2rem;
    }
  }
}
