div.dataTables_wrapper {
  div.dataTables_filter input {
    margin-left: 0;
  }
  div.dataTables_paginate {
    border: 0;
    border-radius: 0;
    background: $gray-100;
    text-align: left;
    @media (min-width: 768px) {
        text-align: right;
    }
    ul.pagination {
        margin-bottom: 0px;
        margin-top: 0.2rem;
        justify-content: flex-start;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
    }
  }
  div.dataTables_filter{
    width: 80%;
    @media (min-width: 992px) {
        width: 60%;
    }
    @media (min-width: 1200px) {
        width: 90%;
    }
    input, label {
        width: 100%;
    }
  }
}
